// 颜色
$fui-primary:#2979ff !default;
$fui-success:#4cd964 !default;
$fui-warning:#f0ad4e !default;
$fui-error:#dd524d !default;
$fui-info:#909399;
$fui-white:#fff !default;
$fui-default:#fff !default;

$fui-card--background:#FEFEFE;
$fui-background:#FCFCFC;
$fui-gray:#AAA;

// 大小
$fui-small-size:24rpx;
$fui-middle-size:36rpx;
$fui-large-size:48rpx;
$fui-size-60:60rpx;
$fui-size-50:50rpx;
$fui-size-40:40rpx;
$fui-size-30:30rpx;
$fui-size-20:20rpx;
$fui-size-10:10rpx;
$fui-size-5:5rpx;
$fui-size-2:2rpx;
$fui-size-1:1rpx;

